.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.button {
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #30cccc;
  color: #000090;
  transition: all .5s ease;
}
.button:hover {
  text-shadow: 1px 1px 20px #2f2ff1;
  box-shadow: 1px 1px 20px 1px #6be2e2;
}

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
